@import "../../styles/variables.scss";
@import "../../styles/mixins";

.skills {
  width: 85%;

  &-content {
    @include main-section;

    &__item {
      //  @include utilities;
      padding: 6rem 5rem 0 6rem;
      display: flex;
    }
  }

  &__section {
    width: 50%;

    border-right: 5px solid $primary-color-yellow;

    h1 {
      @include head;
    }

    &-about {
      p {
        margin: 0.8rem 1.25rem 0 0;
        color: $primary-color-white;
        letter-spacing: 1px;
        font-size: $font-text-size;
      }
    }
  }

  &__bars {
    margin-left: 3rem;
    width: 50%;

    h2 {
      color: $primary-color-yellow;
      font-size: 4rem;
      font-weight: 500;
    }

    .skill-bars {
      margin: 0.7rem 0;
      &-head {
        color: $primary-color-white;
        font-size: $font-text-size;
        letter-spacing: 1px;
      }
    }

    .progress {
      background-color: $secondary-color-dark;
      width: 100%;
      margin: 0.5rem 0;

      &-bar {
        text-align: center;
      }
      .html {
        @include skills(80%);
      }
      .css {
        @include skills(65%);
      }
      .js {
        @include skills(70%);
      }
      .react {
        @include skills(50%);
      }
      .bootstrap {
        @include skills(75%);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .skills-content__item {
    padding: 5rem 3rem 0 3rem !important;

    h1 {
      font-size: 3.2rem !important;
    }
  }
  .skills__section {
    &-about {
      p {
        font-size: 1.15rem !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .skills {
    width: 80%;

    &-content__item {
      display: block;
      padding: 1rem 3rem 0 3rem !important;

      h1 {
        font-size: 3.2rem !important;
      }
    }

    &__section {
      width: 100%;
      border-right: none;

      border-bottom: 4px solid $primary-color-yellow;
      &-about {
        p {
          font-size: 1rem !important;
        }
      }
    }

    &__bars {
      width: 100%;
      margin-left: 0 !important;
      padding: 1rem 0;

      h2 {
        font-size: 3.2rem;
      }

      .skill-bars {
        margin: 0.5rem 0;
        &-head {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    width: 100%;

    &-content {
      height: 100% !important;
    }
    &-content__item {
      display: block;
      padding: 5rem 2rem 0 2rem !important;

      h1 {
        font-size: 2.2rem !important;
      }
    }

    &__section {
      width: 100%;
      border-right: none;
      border-bottom: 4px solid $primary-color-yellow;

      &-about {
        p {
          font-size: 1rem !important;
        }
      }
    }

    &__bars {
      width: 100%;
      margin-left: 0 !important;
      padding: 1rem 0;

      h2 {
        font-size: 2.5rem;
      }

      .skill-bars {
        margin: 0.6rem 0;
        &-head {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .skills {
    width: 100%;

    &-content {
      height: 100% !important;
    }

    &-content__item {
      display: block;
      padding: 5rem 1.5rem 0 1.5rem !important;

      h1 {
        font-size: 1.7rem !important;
      }
    }

    &__section {
      width: 100%;
      border-right: none;
      border-bottom: 4px solid $primary-color-yellow;

      &-about {
        p {
          font-size: 1rem !important;
          text-align: justify;
        }
      }
    }

    &__bars {
      width: 100%;
      margin-left: 0 !important;
      padding: 1rem 0;

      h2 {
        font-size: 2rem;
      }

      .skill-bars {
        margin: 0.5rem 0;
        &-head {
          font-size: 1rem;
        }
      }
    }
  }
}
