@import "../../styles/variables.scss";
@import "../../styles/mixins";

.home {
  width: 85%;
  &-content {
    @include main-section;
  }

  .developer {
    @include utilities;

    &__info {
      color: $primary-color-white;
      border-bottom: 5px solid $primary-color-yellow;
      display: inline-block;

      span {
        display: block;
        letter-spacing: 2px;
        font-size: 3.7rem;
      }
    }

    .front-end {
      margin-top: 1.5rem;

      h4 {
        color: $primary-color-white;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: $font-text-size;
      }
    }

    .contact-btn {
      margin-top: 2rem;
      display: inline-block;
      outline: none;
      border: 2px solid $primary-color-yellow;
      cursor: pointer;
      background-color: #181818;
      color: $primary-color-white;
      padding: 0.5rem 2rem;
      font-size: 1.3rem;
      letter-spacing: 2px;
      transition: all 0.3s;
      text-decoration: none;

      &:hover {
        background-color: $primary-color-yellow;
        color: $primary-color-dark;
      }
    }
  }

  .email-section {
    padding-left: 7rem;
    padding-top: 9rem;

    &__text {
      color: $primary-color-white;

      .at {
        color: $primary-color-yellow;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    width: 80% !important;

    .developer {
      padding: 8rem 4rem 0 4rem;

      span {
        font-size: 3rem;
      }
    }
  }

  .email-section {
    padding-left: 4rem !important;
    padding-top: 10rem !important;
  }
}

@media screen and (max-width: 768px) {
  .home {
    width: 100% !important;

    .developer {
      padding: 8rem 3rem 0 3rem;
    }
    .front-end {
      h4 {
        font-size: 1rem !important;
      }
    }

    .contact-btn {
      font-size: 1.1rem !important;
      padding: 0.5rem 1.6rem !important;
    }
  }

  .email-section {
    padding-left: 3rem !important;
    padding-top: 10rem !important;
  }
}

@media screen and (max-width: 530px) {
  .home {
    width: 100% !important;

    .developer {
      padding: 8rem 3rem 0 3rem;

      span {
        font-size: 2rem !important;
      }

      .front-end {
        h4 {
          font-size: 0.9rem !important;
        }
      }

      .contact-btn {
        font-size: 1rem !important;
        padding: 0.5rem 1.2rem !important;
        letter-spacing: 1px !important;
      }
    }
  }
  .email-section {
    padding-left: 3rem !important;
  }
}
