@import "../../styles/variables.scss";
@import "../../styles/mixins";
.contact {
  width: 85%;

  &-content {
    @include main-section;
  }

  &-section {
    @include utilities;

    h1 {
      @include head;
    }
  }

  .form {
    &__group {
      display: flex;

      &-label {
        margin: 0.5rem 0;
        font-weight: lighter;
        letter-spacing: 1px;
      }
      &-control {
        margin-bottom: 0.5rem;
        width: 50%;
        overflow: hidden;

        input[type="text"],
        input[type="email"],
        textarea {
          outline: none;
          padding: 0.4rem 0.8rem;
          font-size: 1.2rem;
          background-color: $secondary-color-dark;
          color: $primary-color-white;
          border: none;
          border-bottom: 2px solid $primary-color-yellow;
          width: 100%;
        }

        textarea {
          height: 175px;
        }

        .contact-btn {
          font-size: 1.2rem;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0.6rem 2.5rem;
          border: 2px solid $primary-color-yellow;
          background-color: $primary-color-dark;
          color: $primary-color-white;
          transition: all 0.3s;
          text-align: center;
          letter-spacing: 1px;

          &:hover {
            background-color: $primary-color-yellow;
            color: $primary-color-dark;
          }
        }
      }

      &-label label {
        color: $primary-color-white;
        font-size: 1.2rem;
      }
    }
  }
}

.pl {
  padding-left: 0.5rem;
}

@media screen and (max-width: 992px) {
  .contact {
    width: 80%;

    &-section {
      padding: 6rem 5rem 0 5rem;

      h1 {
        font-size: 3.3rem;
      }
    }

    .form {
      &__group-control {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    width: 100%;

    &-section {
      padding: 6rem 5rem 0 5rem;

      h1 {
        font-size: 2.2rem;
      }
    }

    .form {
      &__group-control {
      }

      &__group-label {
        label {
          font-size: 1.2rem;
        }
      }

      .contact-btn {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .contact {
    width: 100%;

    &-content {
      height: 100% !important;
    }

    &-section {
      padding: 5.3rem 1.5rem 0 1.5rem;

      h1 {
        font-size: 2rem;
      }
    }

    .form {
      &__group-control {
        input[type="text"],
        input[type="email"],
        textarea {
          font-size: 0.9rem;
        }
      }

      &__group-label {
        label {
          font-size: 1rem;
        }
      }

      .contact-btn {
        font-size: 0.9rem;
        padding: 0.4rem 2.2rem;
      }
    }
  }
}
